.page-bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container{
  border: solid 1px #ccc;
  padding: 0 ;
  min-height: 600px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
}

.app-header{
  width: 100%;
  background-color: black;
  color: #FFF;
  padding: 2rem 1rem;
  height: 250px;
  background-image: url('../images/defaultBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header .input-group{
  border-radius: 20px;
  overflow: hidden;
  /* opacity: 0.7; */
  position: absolute;
  top: 180px;
  width: 92%;
  z-index: 1;
}


.app-header .input-group .form-control{
  border-color: #FFF !important;
}

.app-header .input-group-append{
  border-color: transparent;
}

.app-header .input-group-text{
  background-color: #FFF !important;
  border-color: transparent;
}

.select-city{
  position: absolute;
  z-index: 99;
  background-color: #FFF;
  width: 90%;
  height: 200px;
  overflow: auto;
  top: 178px;
}

.select-city li {
  color: #494949;
  background-color: #FFF;
  border-bottom: #929292 solid 1px;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select-city li:hover{
  color: #FFF;
  background-color: #494949;
}

.app-nav{
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #494949;
}

.app-nav-link, .app-nav-link:hover{
  color: #494949;
  padding: 9px 12px;
  text-decoration: none;
}

.app-nav-link:hover{
  color: #494949;
  padding: 9px 12px;
  text-decoration: none;
  background-color: #d6d6d6;
}

.app-nav-active{
  padding: 9px 12px;
  border-bottom: 5px solid #494949;
  
}

.icon-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-icon{
  font-size: 36px;
}

.temp-list{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom:  1px solid #494949;
}

.result-container{
  max-height: 300px;
  overflow: auto;
}